{
  "openapi": "3.1.0",
  "info": {
    "title": "Superior Van Partner API",
    "description": "Endpoints for vendor partners to submit ADF leads and retrieve lead status from Superior Van & Mobility.",
    "license": {
      "name": "Proprietary"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.superiorvan.com/v1",
      "description": "Production"
    },
    {
      "url": "https://sandbox.superiorvan.com/v1",
      "description": "Sandbox"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/leads": {
      "post": {
        "summary": "Create lead",
        "operationId": "createLead",
        "description": "Submit an ADF-formatted lead for Superior Van to process.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadCreateRequest"
              },
              "example": {
                "firstName": "Alex",
                "lastName": "Rivers",
                "email": "alex.rivers@example.com",
                "phone": "502-555-1234",
                "vehicleYear": "2025",
                "vehicleMake": "Toyota",
                "vehicleModel": "Sienna",
                "vehicleMiles": "12000"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lead accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadSubmissionResponse"
                }
              }
            }
          },
          "400": {
            "description": "JSON body is not formatted correctly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Incorrect API key or permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{leadId}": {
      "get": {
        "summary": "Get lead",
        "operationId": "getLead",
        "description": "Retrieve lead status and notes using the leadId returned from the create endpoint.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "Unique lead id returned from the Superior Van API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          },
          "403": {
            "description": "Bad API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lead not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Lead": {
        "type": "object",
        "properties": {
          "leadId": {
            "type": "string",
            "description": "Unique lead id from Superior Van"
          },
          "status": {
            "type": "string",
            "enum": [
              "received",
              "in_review",
              "contacted",
              "scheduled",
              "closed",
              "rejected"
            ],
            "description": "Current processing status of the lead"
          },
          "notes": {
            "type": "string",
            "description": "Internal notes about the lead"
          }
        }
      },
      "LeadCreateRequest": {
        "type": "object",
        "description": "ADF lead payload. Send as application/json.",
        "required": [
          "firstName",
          "lastName",
          "email",
          "phone"
        ],
        "properties": {
          "firstName": {
            "type": "string",
            "description": "Customer first name"
          },
          "lastName": {
            "type": "string",
            "description": "Customer last name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address"
          },
          "phone": {
            "type": "string",
            "description": "Customer phone number"
          },
          "vehicleYear": {
            "type": "string",
            "description": "Vehicle model year"
          },
          "vehicleMake": {
            "type": "string",
            "description": "Vehicle make"
          },
          "vehicleModel": {
            "type": "string",
            "description": "Vehicle model"
          },
          "vehicleMiles": {
            "type": "string",
            "description": "Vehicle mileage"
          }
        }
      },
      "LeadSubmissionResponse": {
        "type": "object",
        "properties": {
          "leadId": {
            "type": "string",
            "description": "Assigned lead id"
          },
          "status": {
            "type": "string",
            "enum": [
              "received"
            ],
            "description": "Initial status of the lead"
          }
        }
      },
      "Error": {
        "required": [
          "code",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object",
            "additionalProperties": true
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key issued to your vendor account"
      }
    }
  }
}