{
  "openapi": "3.1.0",
  "info": {
    "title": "Superior Van Partner API",
    "description": "Endpoints for vendor partners to submit ADF leads and retrieve lead status from Superior Van & Mobility.",
    "license": {
      "name": "Proprietary"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.superiorvan.com/v1",
      "description": "Production"
    },
    {
      "url": "https://sandbox.superiorvan.com/v1",
      "description": "Sandbox"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/leads": {
      "post": {
        "summary": "Create lead",
        "operationId": "createLead",
        "description": "Submit an ADF-formatted lead for Superior Van to process.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadCreateRequest"
              },
              "examples": {
                "adfLead": {
                  "summary": "ADF lead",
                  "value": {
                    "requestdate": "2025-01-12T18:00:00Z",
                    "vehicle": {
                      "year": "2025",
                      "make": "Toyota",
                      "model": "Sienna",
                      "comments": "Needs side-entry ramp."
                    },
                    "customer": {
                      "firstName": "Alex",
                      "lastName": "Rivers",
                      "email": "alex.rivers@example.com",
                      "phone": "502-555-1234"
                    },
                    "provider": {
                      "name": "Vendor Partner"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lead accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadSubmissionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error (malformed ADF or missing required data)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A lead already exists for the provided identifiers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{leadId}": {
      "get": {
        "summary": "Get lead",
        "operationId": "getLead",
        "description": "Retrieve lead status and notes using the leadId returned from the create endpoint.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "Unique lead id returned from the Superior Van API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lead not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Lead": {
        "type": "object",
        "required": [
          "id",
          "status",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique lead id from Superior Van"
          },
          "status": {
            "type": "string",
            "enum": [
              "received",
              "in_review",
              "contacted",
              "scheduled",
              "closed",
              "rejected"
            ],
            "description": "Current processing status of the lead"
          },
          "notes": {
            "type": "string",
            "description": "Internal notes about the lead"
          },
          "source": {
            "type": "string",
            "description": "Lead source identifier from the vendor system, if provided"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LeadCreateRequest": {
        "type": "object",
        "description": "ADF lead payload. Send as application/json; fields map to the ADF structure.",
        "required": [
          "customer"
        ],
        "properties": {
          "requestdate": {
            "type": "string",
            "format": "date-time",
            "description": "Lead creation timestamp"
          },
          "vehicle": {
            "type": "object",
            "properties": {
              "year": {
                "type": "string"
              },
              "make": {
                "type": "string"
              },
              "model": {
                "type": "string"
              },
              "comments": {
                "type": "string"
              }
            }
          },
          "customer": {
            "type": "object",
            "required": [
              "firstName",
              "lastName",
              "email",
              "phone"
            ],
            "properties": {
              "firstName": {
                "type": "string"
              },
              "lastName": {
                "type": "string"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "phone": {
                "type": "string"
              }
            }
          },
          "provider": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Lead source or partner name"
              }
            }
          }
        }
      },
      "LeadSubmissionResponse": {
        "type": "object",
        "required": [
          "leadId",
          "status"
        ],
        "properties": {
          "leadId": {
            "type": "string",
            "description": "Assigned lead id"
          },
          "status": {
            "type": "string",
            "enum": [
              "received"
            ],
            "description": "Initial status of the lead"
          },
          "message": {
            "type": "string",
            "description": "Optional confirmation message"
          }
        }
      },
      "Error": {
        "required": [
          "code",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object",
            "additionalProperties": true
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Send Authorization: Bearer <token> on every request."
      }
    }
  }
}