{
  "openapi": "3.1.0",
  "info": {
    "title": "Superior Van Partner API",
    "description": "Endpoints for vendor partners to submit ADF leads and retrieve lead status from Superior Van & Mobility.",
    "license": {
      "name": "Proprietary"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.superiorvan.com/v1",
      "description": "Production"
    },
    {
      "url": "https://sandbox.superiorvan.com/v1",
      "description": "Sandbox"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/lead": {
      "post": {
        "summary": "Create lead",
        "operationId": "createLead",
        "description": "Submit a lead for Superior Van to process.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadCreateRequest"
              },
              "example": {
                "first_name": "John",
                "last_name": "Doe",
                "email": "john.doe@example.com",
                "phone": "555-123-4567",
                "lead_type": "Sales",
                "lead_notes": "Customer interested in wheelchair accessible van",
                "vendor_name": "Example Vendor Company",
                "external_id": "EXT-12345",
                "vehicle_year": "2024",
                "vehicle_make": "Ford",
                "vehicle_model": "Transit",
                "vehicle_miles": "15000"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadSubmissionResponse"
                }
              }
            }
          },
          "400": {
            "description": "JSON body is not formatted correctly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Incorrect API key or permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/lead/{leadId}": {
      "get": {
        "summary": "Get lead",
        "operationId": "getLead",
        "description": "Retrieve lead status and notes using the leadId returned from the create endpoint.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "Unique lead id returned from the Superior Van API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          },
          "403": {
            "description": "Bad API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lead not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Lead": {
        "type": "object",
        "properties": {
          "leadId": {
            "type": "string",
            "description": "Unique lead id from Superior Van"
          },
          "status": {
            "type": "string",
            "enum": [
              "In Progress",
              "Won",
              "Lost"
            ],
            "description": "Current processing status of the lead"
          },
          "vendor_requestdate": {
            "type": "string",
            "format": "date",
            "description": "Date the lead was submitted (YYYY-MM-DD format)"
          }
        }
      },
      "LeadCreateRequest": {
        "type": "object",
        "description": "Lead payload. Send as application/json.",
        "required": [
          "first_name",
          "last_name",
          "email"
        ],
        "properties": {
          "first_name": {
            "type": "string",
            "description": "Customer first name"
          },
          "last_name": {
            "type": "string",
            "description": "Customer last name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address"
          },
          "phone": {
            "type": "string",
            "description": "Customer phone number"
          },
          "lead_type": {
            "type": "string",
            "enum": [
              "Sales",
              "Service",
              "Rental",
              "Lift",
              "Commercial",
              "Buy-Back",
              "Other"
            ],
            "description": "Type of lead. Case-insensitive (e.g., 'Sales' or 'sales' both accepted). Defaults to 'Other' if not provided."
          },
          "lead_notes": {
            "type": "string",
            "description": "Notes about the lead"
          },
          "vendor_name": {
            "type": "string",
            "description": "Vendor company name"
          },
          "external_id": {
            "type": "string",
            "description": "Unique identifier from the vendor's internal system"
          },
          "vehicle_year": {
            "type": "string",
            "description": "Vehicle model year"
          },
          "vehicle_make": {
            "type": "string",
            "description": "Vehicle make"
          },
          "vehicle_model": {
            "type": "string",
            "description": "Vehicle model"
          },
          "vehicle_miles": {
            "type": "string",
            "description": "Vehicle mileage"
          }
        }
      },
      "LeadSubmissionResponse": {
        "type": "object",
        "properties": {
          "leadId": {
            "type": "string",
            "description": "Assigned lead id"
          }
        }
      },
      "Error": {
        "required": [
          "code",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object",
            "additionalProperties": true
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key issued to your vendor account"
      }
    }
  }
}