{
  "openapi": "3.1.0",
  "info": {
    "title": "Superior Van Partner API",
    "description": "Endpoints for vendor partners to submit ADF leads and retrieve lead status from Superior Van & Mobility.",
    "license": {
      "name": "Proprietary"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.superiorvan.com/v1",
      "description": "Production"
    },
    {
      "url": "https://sandbox.superiorvan.com/v1",
      "description": "Sandbox"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/lead": {
      "post": {
        "summary": "Create lead",
        "operationId": "createLead",
        "description": "Submit an ADF-formatted lead for Superior Van to process.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadCreateRequest"
              },
              "example": {
                "first_name": "Alex",
                "last_name": "Rivers",
                "email": "alex.rivers@example.com",
                "phone": "502-555-1234",
                "lead_type": "Sales",
                "lead_notes": "Customer interested in side-entry wheelchair van",
                "vendor_name": "Vendor Partner",
                "external_id": "VENDOR-12345",
                "vehicle_year": "2025",
                "vehicle_make": "Toyota",
                "vehicle_model": "Sienna",
                "vehicle_miles": "12000"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lead accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadSubmissionResponse"
                }
              }
            }
          },
          "400": {
            "description": "JSON body is not formatted correctly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Incorrect API key or permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{leadId}": {
      "get": {
        "summary": "Get lead",
        "operationId": "getLead",
        "description": "Retrieve lead status and notes using the leadId returned from the create endpoint.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "Unique lead id returned from the Superior Van API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          },
          "403": {
            "description": "Bad API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lead not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Lead": {
        "type": "object",
        "properties": {
          "leadId": {
            "type": "string",
            "description": "Unique lead id from Superior Van"
          },
          "status": {
            "type": "string",
            "enum": [
              "In Progress",
              "Won",
              "Lost"
            ],
            "description": "Current processing status of the lead"
          },
          "vendor_requestdate": {
            "type": "string",
            "format": "date",
            "description": "Date the lead was submitted (YYYY-MM-DD format)"
          }
        }
      },
      "LeadCreateRequest": {
        "type": "object",
        "description": "ADF lead payload. Send as application/json.",
        "required": [
          "first_name",
          "last_name",
          "email",
          "phone"
        ],
        "properties": {
          "first_name": {
            "type": "string",
            "description": "Customer first name"
          },
          "last_name": {
            "type": "string",
            "description": "Customer last name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address"
          },
          "phone": {
            "type": "string",
            "description": "Customer phone number"
          },
          "lead_type": {
            "type": "string",
            "enum": [
              "Sales",
              "Service",
              "Rental",
              "Lift",
              "Commercial",
              "Buy-Back",
              "Other"
            ],
            "description": "Type of lead. Accepts both capitalized and lowercase values (e.g., 'Sales' or 'sales'). Defaults to 'Other' if not provided."
          },
          "vendor_name": {
            "type": "string",
            "description": "Vendor company name"
          },
          "external_id": {
            "type": "string",
            "description": "Unique vendor internal ID for the lead in their system"
          },
          "lead_notes": {
            "type": "string",
            "description": "Additional notes about the lead"
          },
          "vehicle_year": {
            "type": "string",
            "description": "Vehicle model year"
          },
          "vehicle_make": {
            "type": "string",
            "description": "Vehicle make"
          },
          "vehicle_model": {
            "type": "string",
            "description": "Vehicle model"
          },
          "vehicle_miles": {
            "type": "string",
            "description": "Vehicle mileage"
          }
        }
      },
      "LeadSubmissionResponse": {
        "type": "object",
        "properties": {
          "leadId": {
            "type": "string",
            "description": "Assigned lead id"
          },
          "status": {
            "type": "string",
            "enum": [
              "received"
            ],
            "description": "Initial status of the lead"
          }
        }
      },
      "Error": {
        "required": [
          "code",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object",
            "additionalProperties": true
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key issued to your vendor account"
      }
    }
  }
}