{
  "openapi": "3.1.0",
  "info": {
    "title": "Superior Van Partner API",
    "description": "Endpoints for vendor partners to submit ADF leads and retrieve lead status from Superior Van & Mobility.",
    "license": {
      "name": "Proprietary"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.superiorvan.com/v1",
      "description": "Production"
    },
    {
      "url": "https://sandbox.superiorvan.com/v1",
      "description": "Sandbox"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/lead": {
      "post": {
        "summary": "Create lead",
        "operationId": "createLead",
        "description": "Submit an ADF-formatted lead for Superior Van to process.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadCreateRequest"
              },
              "example": {
                "first_name": "John",
                "last_name": "Doe",
                "email": "customer@example.com",
                "phone": "502-555-1234",
                "deal_type": "sales",
                "vendor_name": "ABC Vendor",
                "lead_notes": "Customer interested in new van\nFollow up next week",
                "external_lead_id": "VENDOR-12345",
                "vehicle_year": "2020",
                "vehicle_make": "Ford",
                "vehicle_model": "Transit"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lead accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadSubmissionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error. Possible causes: JSON body is not formatted correctly, missing required fields (deal_type, vendor_name, lead_notes), invalid deal_type value, or empty required fields. Error messages: 'deal_type must be one of: sales, service, rental, lift, commercial, buy-back, other', 'vendor_name field is missing or empty in request body', 'lead_notes field is missing or empty in request body'",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Incorrect API key or permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{leadId}": {
      "get": {
        "summary": "Get lead",
        "operationId": "getLead",
        "description": "Retrieve lead status and notes using the leadId returned from the create endpoint.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "Unique lead id returned from the Superior Van API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          },
          "403": {
            "description": "Bad API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lead not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Lead": {
        "type": "object",
        "properties": {
          "leadId": {
            "type": "string",
            "description": "Unique lead id from Superior Van"
          },
          "status": {
            "type": "string",
            "enum": [
              "In Progress",
              "Won",
              "Lost"
            ],
            "description": "Current processing status of the lead"
          },
          "vendor_requestdate": {
            "type": "string",
            "format": "date",
            "description": "Date the lead was submitted (YYYY-MM-DD format)"
          }
        }
      },
      "LeadCreateRequest": {
        "type": "object",
        "description": "ADF lead payload. Send as application/json.",
        "required": [
          "first_name",
          "last_name",
          "email",
          "phone",
          "deal_type",
          "vendor_name",
          "lead_notes"
        ],
        "properties": {
          "first_name": {
            "type": "string",
            "description": "Customer first name"
          },
          "last_name": {
            "type": "string",
            "description": "Customer last name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address"
          },
          "phone": {
            "type": "string",
            "description": "Customer phone number"
          },
          "deal_type": {
            "type": "string",
            "enum": [
              "sales",
              "service",
              "rental",
              "lift",
              "commercial",
              "buy-back",
              "other"
            ],
            "description": "Type of deal. Maps to HubSpot dealtype property. Allowed values (case-insensitive): sales → newbusiness, service → existingbusiness, rental → Rental, lift → Lift, commercial → Commercial, buy-back → Buy-Back, other → Other. Returns 400 if missing, empty, or invalid."
          },
          "vendor_name": {
            "type": "string",
            "description": "Vendor company name. Maps to HubSpot vendor_name property. Required field. Returns 400 if missing or empty."
          },
          "lead_notes": {
            "type": "string",
            "description": "Additional notes about the lead. Maps to HubSpot lead_notes property. Supports multi-line text. Required field. If deal_type is 'other', automatically prepends 'Needs Deal Type. ' to the notes. Returns 400 if missing, null, or empty."
          },
          "external_lead_id": {
            "type": "string",
            "description": "Vendor's internal lead ID for reference and future searches. Maps to HubSpot external_lead_id property. Optional field."
          },
          "external_id": {
            "type": "string",
            "description": "Unique vendor internal ID for the lead in their system"
          },
          "vehicle_year": {
            "type": "string",
            "description": "Vehicle model year"
          },
          "vehicle_make": {
            "type": "string",
            "description": "Vehicle make"
          },
          "vehicle_model": {
            "type": "string",
            "description": "Vehicle model"
          },
          "vehicle_miles": {
            "type": "string",
            "description": "Vehicle mileage"
          }
        }
      },
      "LeadSubmissionResponse": {
        "type": "object",
        "properties": {
          "leadId": {
            "type": "string",
            "description": "Assigned lead id"
          },
          "status": {
            "type": "string",
            "enum": [
              "received"
            ],
            "description": "Initial status of the lead"
          }
        }
      },
      "Error": {
        "required": [
          "code",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object",
            "additionalProperties": true
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key issued to your vendor account"
      }
    }
  }
}